
<div *ngIf="success" id="page-wrap">
  <div *ngFor="let object of data.forms" id="survey">
    <h3><ul type="1"><p>{{object.question}}</p></ul></h3>
    <ol *ngIf="object.type == 'RADIO'" type="a">
      <li *ngFor="let option of object.options">
        <input type="{{object.type}}" name="{{object.form_id}}" [value]="option.value"><span>{{option.display}}</span>
      </li>
    </ol>
    <ol *ngIf="object.type == 'CHECK_BOX'" type="a">
      <li *ngFor="let option of object.options">
        <input type="checkbox" name="{{object.form_id}}" [value]="option.value">{{option.display}}
      </li>
    </ol>
  </div>
</div>